.MMM-EarthquakeAlerts {
	margin: 0;
}

.MMM-EarthquakeAlerts .EarthquakeAlertsDiv {
	margin-bottom: var(--gap-modules);
}

.region.bottom .MMM-EarthquakeAlerts .EarthquakeAlertsDiv {
	margin-top: var(--gap-modules);
	margin-bottom: 0;
}

/*
prefix = "<div style='width:100%; background-color:#f19b52; border-radius: 7px;; padding: 10px; box-sizing: border-box;'>" 
suffix = "</div>"
*/
