.MMM-EarthquakeAlerts {
	margin: 0;
}

.MMM-EarthquakeAlerts .EarthquakeAlertsDiv {
	margin-bottom: var(--gap-modules);
}

.region.bottom .MMM-EarthquakeAlerts .EarthquakeAlertsDiv {
	margin-top: var(--gap-modules);
	margin-bottom: 0;
}
